.parent {
    display: grid;
    /* grid-template-columns: ; */
    grid-template-rows: 1.2fr 0.4fr 0.4fr 1fr 0.4fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 400px;
    border: 1px solid black;
    border-radius: 5px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 2 / 1 / 3 / 2;
}

.div3 {
    grid-area: 3 / 1 / 4 / 2;
}

.div4 {
    grid-area: 4 / 1 / 5 / 2;
}

.div5 {
    grid-area: 5 / 1 / 6 / 2;
}

.parent div img {
    display: block;
    margin: 0 auto 0.5em auto;
}

.input-flex {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin: 0 auto 0.5em auto;
}
.input-flex input {
    width: 100%;
}
.input-flex textarea {
    width: 100%;
    height: 100%;
}
.input-flex p {
    /* height: px; */
    margin: 0.25em auto 0 auto;
}
.previews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: stretch;
}
.button {
    margin-top: 1em;
}
.button button {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #d90429;
    background: #d90429;
}

.button button:hover {
    background: #fff;
    color: #d90429
}
html {
    background-color: #eee7e7;
}
main {
    margin: auto;
    width: 80%;
    padding-left: 5em;
    padding-right: 5em;
    min-height: 100vh;
}
.wrapper-size {
    width: 300px;
    margin: auto;
}
.form-flex {
    display: flex;
    flex-direction: column;
}

.form-flex div {
    display: flex;
    justify-content: space-around;
}

.form-flex div label {
    width: 64px;
}
.title {
    text-align: center;
}


.posters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
}
.poster {
    border: 1px solid black;
    border-radius: 5px;
    width: 450px;
    height: 650px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 0.5fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: oldlace;
}

.poster-title { grid-area: 1 / 1 / 2 / 6;text-align: center;}
.poster-keyword { grid-area: 2 / 5 / 5 / 6; overflow-y: auto;max-height: 290px;}
.poster-img { grid-area: 2 / 1 / 4 / 5;}
.poster-header { grid-area: 4 / 1 / 5 / 5;text-align: center;}
.poster-description { grid-area: 5 / 1 / 6 / 6;padding: 0 0.5em 0 0.5em} 

.poster-keyword-text {
    padding: 0;
    margin: 0;
}